/* project styles */
.projects_headingContainer {
  display: flex;
  padding: 19px 26px;
  align-items: center;
}
.projects_addbuttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.projecttable_Container {
  margin-top: 30px;
}
.project_adduserbuttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0px 9px;
}
@media (min-width: 300px) and (max-width: 767px) {
  .project_adduserbuttonContainer {
    justify-content: flex-start;
  }
}
.project_addbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  width: 120px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
@media (min-width: 300px) and (max-width: 767px) {
  .project_addbutton {
    margin-top: 15px;
  }
}
.project_addbutton:hover {
  background-color: #009737;
}
.project_addbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
