/* .backgroundImg{
    background-image: url(../../assets/images/bgimg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */

.backgroundImg {
  position: relative;
}

.backgroundImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/bgimg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
  z-index: -1;
}

.loginLeftside {
  background-image: url(../../assets/images/leftbg.webp);
}

.emailinput::placeholder {
  text-align: center;
}
.passwordinput::placeholder {
  text-align: center;
}
.login_mainContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f3;
}
.loginlogo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_logo {
  width: 160px;
}
.circle {
  position: absolute;
  width: 185px;
  height: 182px;
  border-top: 82px solid #009e24;
  border-bottom: 100px solid #009e24;
  border-bottom-left-radius: 176px;
  border-bottom-right-radius: 00px;
  right: 0px;
}
.bottom_circle {
  position: absolute;
  width: 185px;
  height: 182px;
  border-top: 72px solid #009ff2;
  border-bottom: 110px solid #009ff2;
  border-top-right-radius: 175px;
  border-bottom-left-radius: 00px;
  left: 0px;
  bottom: 0px;
}
.login_cardContainer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 800px;
  border-radius: 9px;
  z-index: 1;
}
.login_cardleftContainer {
  background-color: #25a17d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.login_cardrightContainer {
  padding: 65px 30px;
  background-color: #fff;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
.welcome_heading {
  font-weight: 600;
  font-size: 40px;
  color: white;
}
.signin_heading {
  color: #706f6fee;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}
.inputfields_label {
  font-weight: 500;
}
.login_inputfields {
  height: 36px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  margin-top: 5px;
}
.login_errormessage {
  color: #ff4d4f;
  margin-top: 4px;
}
.fotgotpassword_text {
  text-align: end;
  font-weight: 500;
  font-size: 14px;
  margin-top: 4px;
}
.login_button {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 35px;
  width: 100%;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 30px;
}
.login_button:hover {
  background-color: #009737;
}
.login_button:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
.login_buttondisable {
  color: #fff;
  background-color: #019e25;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 35px;
  width: 100%;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 30px;
  opacity: 0.7;
}
