/* reports styles */
.reports_headings {
  margin-top: 20px;
  font-weight: 500;
  color: gray;
}
.reports_rowcontainer {
  margin-top: 7px;
}
.reports_card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  height: 100%;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.reports_card:hover {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.reports_iconContainer {
  background-color: #f3e0ce;
  border-radius: 10px;
  color: #b85f06;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports_dailyiconContainer {
  background-color: #d5f3d5;
  color: #59cb59;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports_monthlyiconContainer {
  background-color: rgba(33, 150, 243, 0.157);
  color: rgb(33, 150, 243);
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports_inouticonContainer {
  background-color: rgba(255, 176, 32, 0.157);
  color: rgb(255, 176, 32);
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports_activityiconContainer {
  background-color: #b4c5e9;
  color: #3b5998;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports_projecticonContainer {
  background-color: #fa6c494b;
  color: #fa6d49;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports_deviceiconContainer {
  background-color: #ff99003a;
  color: #ff9800;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports_logsiconContainer {
  background-color: #def8f9;
  color: #32eff5;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports_appsiconContainer {
  background-color: #c3f1ee;
  color: #00a99c;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports_producticonContainer {
  background-color: rgb(215, 208, 247);
  color: rgb(123, 97, 255);
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports_wellnessiconContainer {
  background-color: rgba(76, 175, 79, 0.322);
  color: rgb(76, 175, 79);
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports_teamsiconContainer {
  background-color: #faddd1;
  color: #795548;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports_alerticonContainer {
  background-color: #d4233848;
  color: #d42338;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports_dynamiciconContainer {
  background-color: #29c9ce2f;
  color: #29c8ceea;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reports_cardheading {
  font-weight: 600;
  font-size: 17px;
  margin-top: 12px;
}
@media (min-width: 300px) and (max-width: 767px) {
  .reports_cardheading {
    font-size: 14px;
  }
}
.reports_cardcontent {
  color: #bbc0c1;
  font-size: 13px;
  font-weight: 500;
  margin-top: 12px;
  text-align: center;
  line-height: 22px;
}
.reports_backContainer {
  display: flex;
  margin-top: 20px;
  cursor: pointer;
  width: 190px;
  align-items: center;
}
.reports_backContainer:hover {
  color: #25a17d;
}
.breakreports_calendarrowContainer {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.breakreports_calendarContainer {
  display: flex;
  justify-content: flex-end;
}
.breakreport_employeenameContainer {
  display: flex;
  align-items: center;
}
.breakreport_tableContainer {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 4px;
}
/* dailyattendance report styles */
.dailyreports_backContainer {
  display: flex;
  margin-top: 20px;
  cursor: pointer;
  width: 220px;
  align-items: center;
}
.dailyreports_backContainer:hover {
  color: #25a17d;
}
@media (min-width: 300px) and (max-width: 425px) {
  .dailyreports_backContainer {
    width: 100%;
  }
}
.reports_avatarname {
  white-space: normal; /* Allow text to wrap */
  word-break: break-word;
}
/* monthlyattendance report */
.monthlyattendance_monthlyweeklyofftext {
  font-weight: 600;
  color: #d32f2f;
}

/* monthlyinandout styles */
.monthlyInOuttime_text {
  color: rgb(20, 184, 166);
  font-weight: 600;
}
.monthlyinout_weeklyoff_text {
  position: absolute;
  text-align: center;
  width: 100px;
  left: 50%;
  z-index: 1;
  top: 24%;
  font-weight: 600;
  color: #d32f2f;
}
/* logs styles */
.logsreport_mappingActivetextContainer {
  border-radius: 7px;
  background-color: rgb(20 184 165 / 14%);
  color: rgb(20, 184, 166);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0px;
  font-size: 13px;
  width: 85px;
}
.logsreport_statusInActivetextContainer {
  border-radius: 7px;
  background-color: rgba(244, 67, 54, 0.164);
  color: rgba(244, 67, 54, 0.82);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0px;
  font-size: 13px;
  width: 85px;
}
/* teamreport styles */
.teamreport_accordionheading {
  font-weight: 600;
  font-size: 16px;
}
.teamreport_accordionContainer {
  font-weight: 400;
  font-size: 14px;
}
.teamreport_prsnText {
  font-weight: 600;
  color: #25a17d;
}
.teamreport_absnText {
  font-weight: 600;
  color: #e93b3a;
  margin-top: 12px;
}
.teamreport_workingHrs {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.88);
  margin-top: 12px;
}
.teamreport_pogessbarContainer {
  display: flex;
  margin-top: 12px;
}
.teamreport_topuserheaderContainer {
  display: flex;
  margin-top: 10px;
  font-weight: 600;
  font-size: 15px;
  align-items: center;
}
.teamreport_topusers {
  font-weight: 600;
}
.teamreport_topuserName {
  font-weight: 500;
  margin-top: 6px;
}
/* appurl styles */
.appurlreport_tableheading {
  padding: 14px;
  font-weight: 600;
  font-size: 16px;
}
/* devicereport styles */
.devicereport_selectfieldContainers {
  width: 170px;
  margin-right: 12px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .devicereport_selectfieldContainers {
    margin-bottom: 12px;
  }
}
/* dynamicreport styles */
.dynamicreport_accordionbody_container {
  margin-top: 16px;
  margin-bottom: 16px;
}
.dynamicreport_accordionmainContainer {
  position: relative;
}
.dynamicreport_loaderContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 1;
  opacity: 1 !important;
}
.dynamicreport_disableloaderContainer {
  display: none;
}
.dynamicreport_downloadbutton {
  color: #fff;
  background-color: #25a17d;
  border-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  width: 145px;
  border-radius: 6px;
  margin-top: 20px;
}
.dynamicreport_downloadbutton:hover {
  background-color: #009737 !important;
}
.dynamicreport_downloadbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
