/* alerts styles */
.alerts_mainContainer {
  padding: 19px 26px;
}
.alerts_calendarContainer {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 300px) and (max-width: 767px) {
  .alerts_calendarContainer {
    justify-content: flex-start;
  }
}
