.manualtime_attahmnt_heading {
  font-weight: 500;
}
.manualtime_attachmentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  max-height: 80vh;
  overflow: hidden;
}
.manualtime_attachment {
  width: 240px;
}
