.userdetail_username {
  font-weight: 600;
  font-size: 17px;
}
.userdetail_iconContainer {
  padding: 7px;
  border-radius: 8px;
  color: rgb(20, 184, 166);
  background-color: rgba(20, 184, 166, 0.1);
}
.userdetail_usermail {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 4px;
  color: gray;
}
@media (min-width: 300px) and (max-width: 424px) {
  .userdetail_usermail {
    font-size: 12px;
  }
}
.userdetail_userselectContainer {
  margin-top: 20px;
}
.userdetail_userselectfield {
  width: 190px;
}
@media (min-width: 300px) and (max-width: 375px) {
  .userdetail_userselectfield {
    width: 100%;
  }
}
.usersdetail_calendarContainer {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 300px) and (max-width: 768px) {
  .usersdetail_calendarContainer {
    justify-content: flex-start;
    margin-top: 0px;
  }
}
.userdetail_profileContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .userdetail_profileContainer {
    margin-bottom: 16px;
    display: inline;
    padding: 0px 12px;
  }
}
.userdetail_avatar {
  width: 60px;
  height: 60px;
}
@media (min-width: 320px) and (max-width: 800px) {
  .userdetail_avatar {
    width: 40px;
    height: 40px;
  }
}
.userdetail_calendarContainer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 100%;
  padding: 19px 12px;
  border-radius: 7px;
}
@media (min-width: 320px) and (max-width: 800px) {
  .userattendance_piechartcolumn {
    margin-bottom: 20px;
  }
}
.userattendance_heading {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 20px;
}
.userdetail_calendarsContainer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 100%;
  padding: 13px 12px;
  border-radius: 7px;
}
.userattendancetable_Container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 12px 12px;
  border-radius: 7px;
  margin-top: 30px;
}
.userbreak_linechartContainer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 12px 12px;
  border-radius: 7px;
}
.userbreaktable_Container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 12px 12px;
  border-radius: 7px;
  margin-top: 30px;
}
.userbreak_totalbreaknodata_container {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userproductivity_topContainers {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 12px 12px;
  border-radius: 7px;
  height: 100%;
}
.userproductivity_contents {
  font-weight: 700;
  font-size: 20px;
  margin-top: 7px;
  /* word-wrap: break-word; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.userproductivity_hours {
  margin-top: 10px;
}
.userproductivity_chartContainer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 12px 12px;
  border-radius: 7px;
  margin-top: 20px;
}
.userproductivity_chartheading {
  font-weight: 600;
  font-size: 16px;
}
