.wellness_calendarContainer {
  display: flex;
  justify-content: flex-end;
}
.wellness_employeename {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
/* productivity styles */
.mostproductive_heading {
  font-weight: 600;
  font-size: 16px;
}
.totalproductive_timeheading {
  font-size: 12px;
  padding: 1px;
}
.totalproductive_time {
  font-weight: 600;
  font-size: 19px;
  padding: 1px;
}
/* activites styles */
.totalactive_timeheading {
  padding: 1px;
  font-size: 10px;
}
.totalactive_time {
  font-weight: 600;
  font-size: 19px;
  padding: 1px;
}
.activelevel_chartContainer {
  display: flex;
  align-items: center;
}
/* screenshots styles */
.screenshots_usersmainContainer {
  border-radius: 6px;
  border: 0.5px solid #e0e0e0;
}
.screenshots_userlistheaderContainer {
  display: flex;
  background-color: rgba(20, 184, 166, 0.1);
  padding: 6px 12px;
}
.screenshots_userheading {
  font-weight: 600;
  width: 50%;
  font-size: 12px;
  color: gray;
}
.screenshot_userhrtag {
  border-top: none;
  border: 0.5px solid rgb(184, 184, 184);
}
.screenshots_usersnamemainContainer {
  overflow-y: auto;
  height: 57vh;
}
.screenshots_nousersnamemainContainer {
  overflow-y: auto;
  height: 10vh;
}
.screenshots_nousertextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.screenshots_nousersfound {
  font-weight: 600;
  font-size: 15px;
}
.screenshots_usersnameContainer {
  display: flex;
  padding: 12px 9px;
  align-items: center;
  cursor: pointer;
}
.screenshot_users_hrtag {
  border-top: none;
  border-bottom: 0px !important;
  border: 0.5px solid #e0e0e0;
}
.screenshot_selectfieldsContainer {
  display: flex;
}
@media (min-width: 300px) and (max-width: 768px) {
  .screenshot_selectfieldsContainer {
    flex-direction: column;
  }
}
.screenshot_selectfields {
  width: 170px;
  margin-right: 16px;
}
@media (min-width: 426px) and (max-width: 768px) {
  .screenshot_selectfields {
    margin-bottom: 10px;
  }
}
.screenshot_columnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.screenshot_imageandbuttnContainer {
  position: relative;
  width: 240px;
}
.screenshots_imagesOuterContainer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 13px 12px;
  border-radius: 7px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screenshots_imagesRowContainer {
  margin: 20px 66px !important;
}
.screenshots_nodatafound {
  font-weight: 600;
  font-size: 16px;
}
.screenshot_images {
  width: 100%;
  border-radius: 6px;
}
.screenshot_imageTimeContainer {
  position: absolute;
  top: 8px;
  left: 16px;
  padding: 2px 6px;
  background-color: white;
  color: rgb(20, 184, 166);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
}
.screenshotimage_buttonContainer {
  position: absolute;
  bottom: 8px;
  right: 14px;
  background-color: rgba(20, 184, 166, 0.1);
  border-radius: 6px;
  padding: 2px;
  color: rgb(20, 184, 166);
  cursor: pointer;
}
.screenshotModal_date {
  margin-top: 16px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
}
.screenshot_modalImage {
  width: 100%;
}
.prismazoom {
  max-width: 100%;
  max-height: 80vh; /* Adjust as needed to fit within your modal */
  overflow: hidden;
  position: relative;
}
