.wellness_calendarContainer {
  display: flex;
  justify-content: flex-end;
}
.wellness_employeename {
  font-size: 20px;
  font-weight: 700;
  margin-top: 7px;
}
.wellness_employeeactivetime {
  margin-top: 10px;
}
.wellness_cardupicon {
  margin-top: 10px;
  margin-right: 6px;
}
/* productivity styles */
.mostproductive_heading {
  font-weight: 600;
  font-size: 16px;
}
.totalproductive_timeheading {
  font-size: 12px;
  padding: 1px;
}
.totalproductive_time {
  font-weight: 600;
  font-size: 19px;
  padding: 1px;
}
/* activites styles */
.totalactive_timeheading {
  padding: 1px;
  font-size: 10px;
}
.totalactive_time {
  font-weight: 600;
  font-size: 19px;
  padding: 1px;
}
.activelevel_chartContainer {
  display: flex;
  align-items: center;
}
/* screenshots styles */
.screenshots_usersmainContainer {
  border-radius: 6px;
  border: 0.5px solid #e0e0e0;
}
.screenshots_userlistheaderContainer {
  display: flex;
  background-color: rgba(20, 184, 166, 0.1);
  padding: 6px 12px;
}
.screenshots_userheading {
  font-weight: 600;
  width: 50%;
  font-size: 12px;
  color: gray;
}
.screenshot_userhrtag {
  border-top: none;
  border: 0.5px solid rgb(184, 184, 184);
}
.screenshots_usersnamemainContainer {
  overflow-y: auto;
  height: 57vh;
}
.screenshots_nousersnamemainContainer {
  overflow-y: auto;
  height: 10vh;
}
.screenshots_nousertextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.screenshots_nousersfound {
  font-weight: 600;
  font-size: 15px;
}
.screenshots_usersnameContainer {
  display: flex;
  padding: 12px 9px;
  align-items: center;
  cursor: pointer;
}
.screenshot_users_hrtag {
  border-top: none;
  border-bottom: 0px !important;
  border: 0.5px solid #e0e0e0;
}
.screenshot_selectfieldsContainer {
  display: flex;
}
@media (min-width: 300px) and (max-width: 768px) {
  .screenshot_selectfieldsContainer {
    flex-direction: column;
  }
}
.screenshot_selectfields {
  width: 170px;
  margin-right: 16px;
}
@media (min-width: 426px) and (max-width: 768px) {
  .screenshot_selectfields {
    margin-bottom: 10px;
  }
}
.screenshot_columnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  position: relative;
}
.screenshot_imageandbuttnContainer {
  position: relative;
  width: 240px;
}
.screenshots_imagesOuterContainer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.screenshots_spinContainer {
  position: absolute;
  top: 50%;
  left: 50%;
}
.screenshots_imagesRowContainer {
  margin: 20px 66px !important;
}
.screenshots_nodatafound {
  font-weight: 600;
  font-size: 16px;
}
.screenshot_images {
  width: 100%;
  border-radius: 6px;
}
.screenshot_imageTimeContainer {
  position: absolute;
  top: 8px;
  left: 16px;
  padding: 2px 6px;
  background-color: white;
  color: rgb(20, 184, 166);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
}
.screenshotimage_buttonContainer {
  position: absolute;
  bottom: 8px;
  right: 14px;
  background-color: white;
  border-radius: 6px;
  padding: 2px;
  color: rgb(20, 184, 166);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.screenshotModal_date {
  margin-top: 16px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  -webkit-tap-highlight-color: none;
  outline: none !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.screenshot_modalImage {
  width: 100%;
}
.prismazoom-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prismazoom {
  max-width: 97%;
  max-height: 80vh; /* Adjust as needed to fit within your modal */
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: none;
  outline: none !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.screenshot_nextslidebutton {
  position: absolute;
  top: 50%;
  left: 99.2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 50px;
  cursor: pointer;
  padding: 9px;
  background: white;
  outline: none;
  /* border: 1px solid gray; */
}
.screenshot_previousslidebutton {
  position: absolute;
  top: 50%;
  right: 99.2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 50px;
  cursor: pointer;
  padding: 9px;
  background: white;
  outline: none !important;
  -webkit-tap-highlight-color: none;
}
.screenshot_previousslidebutton:hover,
.screenshot_nextslidebutton:hover {
  color: #25a17d;
}
.screenshot_previousslidebutton:active,
.screenshot_nextslidebutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
.screenshot_previousslidebutton:focus {
  outline: none !important;
}
/* apps and url styles */
.appsandurlchart_Containers {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 12px 12px;
  border-radius: 7px;
  /* height: 60vh;
  overflow-y: auto; */
}
.appsandurlchart_Containers {
  scrollbar-width: thin; /* "auto", "thin", or "none" */
  scrollbar-color: #c1c1c1 #f1f1f1; /* thumb color, track color */
}
.appsandurlchart_Containers::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.appsandurlchart_Containers::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
}

.appsandurlchart_Containers::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded corners for the scroll thumb */
}

.appsandurlchart_Containers::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll thumb on hover */
}
/* productivity styles */
.productivity_tabbuttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 768px) {
  .productivity_tabbuttonContainer {
    margin-top: 20px;
  }
}
.productivity_summarybutton {
  margin-right: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.productivity_summarybutton:hover {
  border-color: #25a17d !important;
  color: #25a17d !important;
}
.productivity_detailedbutton {
  overflow: hidden;
  text-overflow: ellipsis;
}
.productivity_detailedbutton:hover {
  border-color: #25a17d !important;
  color: #25a17d !important;
}
.productivity_activesummarybutton {
  background-color: #25a17d !important;
  border-color: #25a17d;
  color: white;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 12px;
  margin-right: 14px;
}
.productivity_activesummarybutton:hover {
  background-color: #25a17d !important;
  border-color: #25a17d !important;
  color: white !important;
}
.productivity_activedetailedbutton {
  background-color: #25a17d !important;
  border-color: #25a17d;
  color: white;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 12px;
}
.productivity_activedetailedbutton:hover {
  background-color: #25a17d !important;
  border-color: #25a17d !important;
  color: white !important;
}
.productivity_outliersDivider {
  border-block-start: 1px solid rgb(5 5 5 / 13%) !important;
}
/* timeline styles */
.timeline_bars {
  height: 30px;
  line-height: 32px;
  width: 100%;
}
.no-gap-table .ant-table-cell {
  padding: 12px 0px !important; /* Remove cell padding */
  text-align: center; /* Optional: Center-align text */
}

.no-gap-table .ant-table-thead > tr > th,
.no-gap-table .ant-table-tbody > tr > td {
  border-left: none; /* Remove left border to prevent gaps */
  border-right: none; /* Remove right border to prevent gaps */
}

.no-gap-table .ant-table {
  border-collapse: collapse; /* Optional: Collapse borders for a cleaner look */
}
