.settings_mainContainer {
  padding: 19px 26px;
}
.settings_headingContainer {
  display: flex;
  align-items: center;
}
.settings_iconContainer {
  padding: 6px;
  border-radius: 8px;
  color: rgb(20, 184, 166);
  background-color: rgba(20, 184, 166, 0.1);
}
.allpage_mainheadings {
  font-size: 22px;
  margin-left: 1rem;
  font-weight: 700;
}
@media (min-width: 300px) and (max-width: 700px) {
  .allpage_mainheadings {
    font-size: 16px !important;
  }
}
.settings_activelistContainer {
  align-items: center;
  background: #25a17d;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  height: 38px;
  padding: 0px 10px;
  margin-bottom: 15px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media (min-width: 375px) and (max-width: 799px) {
  .settings_activelistContainer {
    font-size: 12px !important;
  }
}
@media (min-width: 300px) and (max-width: 374px) {
  .settings_activelistContainer {
    font-size: 10px !important;
  }
}
.settings_inactivelistContainer {
  align-items: center;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  height: 40px;
  padding: 6px 10px;
  margin-bottom: 15px;
  cursor: pointer;
}
@media (min-width: 375px) and (max-width: 799px) {
  .settings_inactivelistContainer {
    font-size: 14px !important;
  }
}
@media (min-width: 300px) and (max-width: 374px) {
  .settings_inactivelistContainer {
    font-size: 12px !important;
  }
}
.settings_inactivelistContainer:hover .settings_inactivelisttext {
  color: #25a17d;
}
.settinglist_icons {
  width: 24px !important;
}
.settings_rowcontainer {
  margin: 20px 0px;
  border: 0 !important;
  border-radius: 12px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 1;
}
.settinglist_columnOneContainer {
  padding: 16px 16px;
  border-right: 1px solid #d1d1d1;
}
.settinglist_columnContainer {
  padding: 16px 16px;
}
.users_adduserbuttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0px 9px;
}
@media (min-width: 300px) and (max-width: 768px) {
  .users_adduserbuttonContainer {
    justify-content: flex-start;
  }
}
.users_addbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  width: 110px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.users_addbutton:hover {
  background-color: #009737;
}
.users_addbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
.users_submitbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  width: 120px;
  border-radius: 6px;
}
.users_submitbutton:hover {
  background-color: #009737;
}
.users_submitbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
.usertable_actionbutton {
  padding: 6px 9px;
  border-radius: 6px;
  color: #25a17d;
}
.usertable_actionbutton:hover {
  border: 1px solid rgb(226 223 239/ 1) !important;
}
/* designation styles */
.designion_adduserbuttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0px 9px;
}
@media (min-width: 300px) and (max-width: 768px) {
  .designion_adduserbuttonContainer {
    justify-content: flex-start;
  }
}
.designationbutton_addicon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
@media (min-width: 300px) and (max-width: 800px) {
  .designationbutton_addicon {
    width: 16px;
    height: 16px;
  }
}
.designation_addbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 13px;
}
@media (min-width: 375px) and (max-width: 800px) {
  .designation_addbutton {
    padding: 0px 9px;
  }
}
@media (min-width: 300px) and (max-width: 374px) {
  .designation_addbutton {
    width: 100%;
    font-size: 10px;
  }
}
.designation_addbutton:hover {
  background-color: #009737;
}
.designation_addbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
.designation_submitbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  width: 90px;
  border-radius: 6px;
  margin-top: 10px;
}
.designation_submitbutton:hover {
  background-color: #009737;
}
.designation_submitbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
/* teams */
.team_tabmain_container {
  border-radius: 6px;
  border: 1px solid #e2dfef;
}
.teamslist_card {
  background: #f0f5f3;
  border-radius: 6px;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}
.team_list_litag {
  font-size: 16px;
  margin-top: 9px;
  cursor: pointer !important;
  font-weight: 500;
}
.team_list_activelitag {
  font-size: 16px;
  margin-top: 9px;
  cursor: pointer !important;
  color: #25a17d;
  font-weight: 500;
}
.team_operationheader {
  background-color: #e8f7f2 !important;
  border-radius: 6px;
  padding: 12px;
}
.team_tabContainer {
  padding: 0px 12px;
}
.team_memberrowContainer {
  border-radius: 9px;
  background-color: #c5e1d8;
  padding: 4px 9px;
  margin-bottom: 12px;
  border: 1px solid #91cfbd !important;
}
.teaminfo_rowContainer {
  padding: 10px;
}
.teaminfo_policyheading {
  font-weight: 500;
  font-size: 15px;
}
.teams_nodatafound {
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* break styles */
.breakstatus_container {
  border-radius: 9px;
  background-color: #25a17d;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0px;
  width: 60px;
}
.maxtime_inputfield {
  border-color: #d9d9d9 !important;
  border-radius: 6px !important;
  transition: all 0.2s !important;
}
/* goals styles */
.golas_mainContainer {
  margin-top: 30px;
}
.goals_savebutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  border-radius: 6px;
  padding: 0px 13px;
  margin-top: 25px;
}
.goals_savebutton:hover {
  background-color: #009737;
}
.goals_savebutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
@media (min-width: 320px) and (max-width: 768px) {
  .goals_hoursfieldColumn {
    margin-top: 10px;
  }
}
/* compliance styles */
.compliance_switchNames {
  font-weight: 500;
  font-size: 16px;
  margin-left: 12px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .compliance_switchNames {
    font-size: 12px;
  }
}
@media (min-width: 300px) and (max-width: 375px) {
  .compliance_switchNames {
    font-size: 10px;
  }
}
.compliance_switchContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0px 12px;
}
/* alertrules styles */
.alertrules_tableeditbutton {
  cursor: pointer;
  color: #25a17d;
  transition: all 0.3s ease-in;
}
.alertrules_tableeditbutton:hover {
  transform: scale(1.2);
}
.alertrules_tabledeletebutton {
  cursor: pointer;
  color: #ff4d4f;
  margin-left: 20px;
  transition: all 0.3s ease-in;
}
.alertrules_tabledeletebutton:hover {
  transform: scale(1.2);
}
