.settings_headingContainer {
  display: flex;
  padding: 12px 26px;
  margin-top: 20px;
}
.settings_iconContainer {
  padding: 6px;
  border-radius: 8px;
  color: rgb(123, 97, 255);
  background-color: rgba(123, 97, 255, 0.15);
}
.settings_activelistContainer {
  align-items: center;
  background: #25a17d;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  height: 38px;
  padding: 0px 10px;
  margin-bottom: 15px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.settings_inactivelistContainer {
  align-items: center;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  height: 40px;
  padding: 6px 10px;
  margin-bottom: 15px;
  cursor: pointer;
}
.settings_inactivelistContainer:hover .settings_inactivelisttext {
  color: #25a17d;
}
.settinglist_icons {
  width: 24px !important;
}
.settings_rowcontainer {
  margin: 10px 26px;
  border: 0 !important;
  border-radius: 12px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 1;
}
.settinglist_columnOneContainer {
  padding: 16px 16px;
  border-right: 1px solid #d1d1d1;
}
.settinglist_columnContainer {
  padding: 16px 16px;
}
.users_addbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  width: 110px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.users_submitbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  width: 120px;
  border-radius: 6px;
}
.usertable_actionbutton {
  padding: 6px 9px;
  border-radius: 6px;
  color: #25a17d;
}
.usertable_actionbutton:hover {
  border: 1px solid rgb(226 223 239/ 1) !important;
}
/* designation styles */
.designation_addbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  /* width: 155px; */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 13px;
}
.designation_submitbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  width: 90px;
  border-radius: 6px;
  margin-top: 10px;
}
/* teams */
.team_tabmain_container {
  border-radius: 6px;
  border: 1px solid #e2dfef;
}
.teamslist_card {
  background: #f5f6f9;
  border-radius: 5px;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}
.team_list_litag {
  font-size: 16px;
  margin-top: 9px;
  cursor: pointer !important;
  font-weight: 500;
}
.team_list_activelitag {
  font-size: 16px;
  margin-top: 9px;
  cursor: pointer !important;
  color: #25a17d;
  font-weight: 500;
}
.team_operationheader {
  background-color: rgb(240 243 249/ 1) !important;
  border-radius: 6px;
  padding: 12px;
}
.team_tabContainer {
  padding: 0px 12px;
}
.team_memberrowContainer {
  border-radius: 9px;
  background-color: #c5e1d8;
  padding: 4px 9px;
  margin-bottom: 12px;
  border: 1px solid #91cfbd !important;
}
.teaminfo_rowContainer {
  padding: 10px;
}
.teaminfo_policyheading {
  font-weight: 500;
  font-size: 15px;
}
/* break styles */
.breakstatus_container {
  border-radius: 9px;
  background-color: #25a17d;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0px;
  width: 60px;
}
.maxtime_inputfield {
  border-color: #d9d9d9 !important;
  border-radius: 6px !important;
  transition: all 0.2s !important;
}
/* goals styles */
.golas_mainContainer {
  margin-top: 30px;
}
.goals_savebutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  border-radius: 6px;
  padding: 0px 13px;
  margin-top: 25px;
}
@media (min-width: 320px) and (max-width: 800px) {
  .goals_hoursfieldColumn {
    margin-top: 10px;
  }
}
/* compliance styles */
.compliance_switchNames {
  font-weight: 500;
  font-size: 16px;
  margin-left: 12px;
}
.compliance_switchContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0px 12px;
}
