.commonInputfield_container {
  position: relative;
  transition: all 0.3s ease;
}
.commonInputfield {
  height: 32px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
}
.commonInputfield:hover {
  border-color: #25a17d !important;
}
.commonInputfield:focus-within {
  border-color: #25a17d !important;
  box-shadow: 0 0 0 2px #25a17e17;
}
.commonInputfield_error {
  height: 32px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
}
.commoninput_errormessagediv {
  position: absolute;
  left: 0%;
  opacity: 0;
  top: 0%;
}
.commoninput_errormessage_activediv {
  /* top: 99%; */
  /* transform: translateY(2%); */
  transform: translateX(2%);
  opacity: 1;
  position: absolute;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.commonSelectfield:hover .ant-select-selector {
  border-color: #25a17d !important;
}
@media (min-width: 300px) and (max-width: 767px) {
  .commonSelectfield {
    width: 100% !important;
    margin-bottom: 14px;
  }
}
/* .commonSelectfield_error:focus
  .ant-select
  .ant-select-outlined
  .ant-select-status-error {
  border-color: #ff4d4f !important;
} */
@media (min-width: 300px) and (max-width: 768px) {
  .commonsearchbar {
    width: 100% !important;
    margin-bottom: 14px;
  }
}
.commonsearchbar:hover .ant-input-outlined:hover {
  border-color: #25a17d !important;
}
.commonsearchbar .ant-input-outlined:focus-within {
  border-color: #25a17d !important;
  box-shadow: 0 0 0 2px #25a17e17 !important;
}
.commonfield_label {
  font-weight: 500 !important;
  margin-bottom: 6px !important;
}
.commoninputafterimage_fieldContainer {
  display: flex;
  position: relative;
  width: 100%;
}
.commoninputafterimageField {
  height: 30px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  transition: all 0.2s;
  width: 100%;
}
.commoninputafterimageField:hover {
  border-color: #d9d9d9;
}
.commoninputafterimageField:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.inputafterimage_imageContainer {
  background-color: rgb(0 0 0 / 2%);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid #d9d9d9;
  border-left: none;
  width: 40px;
}
.common_calendar {
  border: 1px solid #e1dfdf;
  border-radius: 0px;
}
.commoncalendar_currentdate {
  position: relative;
  z-index: 2;
  display: inline-block;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
  transition: "background" 0.2s;
  color: #fff;
  background: #25a17d;
}
.commoncalendar_selecteddate {
  border-radius: 4px; /* Make it a circle */
  border: 1px solid #25a17d;
  position: relative;
  z-index: 2;
  display: inline-block;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  transition: "background" 0.2s;
  background: transparent;
}
/* common textarea */
.commontextarea:hover {
  border-color: #25a17d !important;
  box-shadow: 0 0 0 2px #25a17e17 !important;
}
.commontextarea:focus {
  border-color: #25a17d !important;
  box-shadow: 0 0 0 2px #25a17e17 !important;
}
.commontextarea_error:hover {
  border-color: #ff7875 !important;
  box-shadow: 0 0 0 2px rgba(255, 38, 5, 0.06) !important;
}
/* loader styles */
.lottieloader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  opacity: 2 !important;
  background-color: white;
}
.lottie_loader {
  width: 160px;
  opacity: 0.7;
}
/* imageupload styles */
.imageupload_imagenameContainer {
  margin-top: 6px;
  font-weight: 500;
  color: #25a17d;
  display: flex;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 768px) {
  .imageupload_imagenameContainer {
    font-size: 12px;
    word-break: break-all;
  }
}
.draganddrop_container:hover {
  border-color: #25a17d !important;
}
.imageupload_deleteicon {
  color: #25a17d;
  margin-left: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.imageupload_deleteicon:hover {
  opacity: 0.7;
  color: #d32f2f;
}
/* common addbutton */
.commonadd_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
@media (min-width: 300px) and (max-width: 425px) {
  .commonadd_button {
    font-size: 12px;
    overflow: hidden;
  }
}
.common_buttonaddIcon {
  width: 20px;
  height: 20px;
}
.commonadd_button:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
/* sessionexpiremodal */
.sessionmodal_okbuttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
.sessionmodal_okbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 30px;
  width: 64px;
  border-radius: 6px;
  margin-top: 10px;
}
.sessionmodal_okbutton:hover {
  background-color: #009737;
}
.sessionmodal_okbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
/* paginationselect */
.pagination_selectfield {
  width: 100%;
}
/* warning modal */
.warningmodal_cancelbutton {
  margin-right: 20px;
}
.warningmodal_cancelbutton:hover {
  border-color: #25a17d !important;
  color: #25a17d !important;
}
.warningmodal_deletebutton {
  border-color: #ff4d4f !important;
  color: #ff4d4f !important;
}
.warningmodal_deletebutton:hover {
  opacity: 0.7;
}
.warningmodal_deletebutton:active {
  transform: scale(0.9);
}
/* nodata image */
.commonnodata_image {
  width: 170px;
}
.commonnodata_text {
  color: #a4a4a4;
  font-weight: 600;
  position: absolute;
  top: 87%;
  font-size: 14px;
}
