.summary_container {
  display: flex;
  justify-content: flex-end;
  border-radius: 6px;
}
@media (min-width: 300px) and (max-width: 768px) {
  .summary_container {
    margin-top: 20px;
    justify-content: flex-start !important;
  }
}
.attendance_summarybutton {
  margin: 0px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.attendance_summarybutton:hover {
  border-color: #25a17d !important;
  color: #25a17d !important;
}
.attendance_activesummarybutton {
  background-color: #25a17d !important;
  border-color: #25a17d;
  color: white;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 6px;
}
.attendance_activesummarybutton:hover {
  background-color: #25a17d !important;
  border-color: #25a17d !important;
  color: white !important;
}
.attendance_iconContainer {
  background-color: rgba(20, 184, 166, 0.1);
  padding: 6px;
  border-radius: 8px;
  color: rgb(20, 184, 166);
}
.attendancesummary_percentage {
  font-weight: 700;
  font-size: 24px;
  margin-top: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.attendancesummary_cardskeleton .ant-skeleton-title {
  height: 14px !important;
  line-height: 14px !important;
  border-radius: 12px !important;
}
.attendancesummary_cardskeleton .ant-skeleton-paragraph > li {
  height: 14px !important;
  line-height: 14px !important;
  border-radius: 12px !important;
}

/* attendance details styles */
.attendancedetail_employeelistCalender {
  border: 0.5px solid #abb3b36e;
  margin-top: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
}
.attendancedetail_employeelistCalender .ant-radio-group {
  display: none;
}
.apexcharts-tooltip-custom {
  padding: 12px;
}
/* datewise attendance styles */
.datewise_Container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 100%;
  border-radius: 7px;
}
.datewise_presenttext {
  padding: 13px 12px;
  background-color: rgba(8, 199, 177, 0.212) !important;
  color: #25a17d;
  font-weight: 600;
}
.datewise_presentlistmainContainer {
  height: 60vh;
  overflow-y: auto;
}
.datewise_presentlistmainContainer {
  scrollbar-width: thin; /* "auto", "thin", or "none" */
  scrollbar-color: #c1c1c1 #f1f1f1; /* thumb color, track color */
}
.datewise_presentlistmainContainer::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.datewise_presentlistmainContainer::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
}

.datewise_presentlistmainContainer::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded corners for the scroll thumb */
}

.datewise_presentlistmainContainer::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll thumb on hover */
}
.datewise_presentlistContainer {
  padding: 8px 12px;
}
.presentlist_avatarContainer {
  display: flex;
  align-items: center;
}
.datewise_presentlistnames {
  overflow: hidden;
  text-overflow: ellipsis;
}
.datewise_presentlist_rightContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 300px) and (max-width: 768px) {
  .datewise_presentlist_rightContainer {
    margin-top: 12px;
    justify-content: flex-start;
  }
}
.datewise_inouttimeContainer {
  display: flex;
}
.datewise_checkintime {
  margin-left: 6px;
}
.presentname_hrtag {
  border-bottom: 0px !important;
  border: 1.5px solid #dbdcdd;
}
.datewise_absenttext {
  padding: 13px 12px;
  background-color: #ed323242;
  color: #e93b3a;
  font-weight: 600;
}
