/* .backgroundImg{
    background-image: url(../../assets/images/bgimg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */

.backgroundImg {
  position: relative;
}

.backgroundImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/bgimg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
  z-index: -1;
}

.loginLeftside {
  background-image: url(../../assets/images/leftbg.webp);
}

.emailinput::placeholder {
  text-align: center;
}
.passwordinput::placeholder {
  text-align: center;
}
.login_mainContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f0f4f3; */
  background: linear-gradient(#73c8f7, #63f097);
}
.loginlogo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_logo {
  width: 220px;
  margin-bottom: 3px;
}
.circle {
  position: absolute;
  width: 185px;
  height: 182px;
  border-top: 82px solid #009e24;
  border-bottom: 100px solid #009e24;
  border-bottom-left-radius: 196px;
  border-bottom-right-radius: 00px;
  right: 0px;
}

@media (min-width: 300px) and (max-width: 1024px) {
  .circle {
    position: absolute;
    width: 95px;
    height: 92px;
    border-top: 42px solid #009e24;
    border-bottom: 60px solid #009e24;
    border-bottom-left-radius: 116px;
    border-bottom-right-radius: 00px;
    right: 0px;
  }
}
.bottom_circle {
  position: absolute;
  width: 185px;
  height: 182px;
  border-top: 72px solid #009ff2;
  border-bottom: 110px solid #009ff2;
  border-top-right-radius: 175px;
  border-bottom-left-radius: 00px;
  left: 0px;
  bottom: 0px;
}
@media (min-width: 300px) and (max-width: 1024px) {
  .bottom_circle {
    position: absolute;
    width: 95px;
    height: 92px;
    border-top: 42px solid #009ff2;
    border-bottom: 60px solid #009ff2;
    border-top-right-radius: 116px;
    border-bottom-left-radius: 00px;
    left: 0px;
    bottom: 0px;
  }
}
.login_cardContainer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 800px;
  border-radius: 9px;
  z-index: 1;
}
.login_cardleftContainer {
  background-color: #25a17d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.login_cardrightContainer {
  padding: 65px 12px !important;
  background-color: #fff;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
@media (min-width: 300px) and (max-width: 767px) {
  .login_cardrightContainer {
    padding: 20px 30px;
  }
}
.welcome_heading {
  font-weight: 600;
  font-size: 40px;
  color: white;
}
@media (min-width: 300px) and (max-width: 767px) {
  .welcome_heading {
    font-size: 20px;
    text-align: center;
  }
}
.signin_heading {
  color: #706f6fee;
  font-weight: 500;
  margin-top: 3px;
  margin-bottom: 30px;
  text-align: center;
}
.inputfields_label {
  font-weight: 500;
}
.login_inputfields {
  height: 34px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  margin-top: 6px;
}
.login_inputfields:hover {
  border-color: #25a17d !important;
}
.login_inputfields:focus-within {
  border-color: #25a17d !important;
  box-shadow: 0 0 0 2px #25a17e17;
}
.login_errorinputfields {
  height: 34px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  margin-top: 5px;
}
.login_errormessage {
  color: #ff4d4f;
  margin-top: 4px;
}
.login_passwordinputfield {
  height: 34px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  margin-top: 5px;
}
.login_passwordinputfield:hover {
  border-color: #25a17d !important;
}
.login_passwordinputfield:focus-within {
  border-color: #25a17d !important;
  box-shadow: 0 0 0 2px #25a17e17;
}
.login_fotgotpassworddiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}
.fotgotpassword_text {
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.login_button {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 35px;
  width: 100%;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 30px;
}
.login_button:hover {
  background-color: #009737;
}
.login_button:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
.login_buttondisable {
  color: #fff;
  background-color: #019e25;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 35px;
  width: 100%;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 30px;
  opacity: 0.7;
}

/* downloads styles */
.downloads_mainContainer {
  position: relative;
}
.downloads_leftcard {
  background-color: #2f5f51;
  height: 100vh;
}
.downloadcard_container {
  position: absolute;
  top: 18%;
  left: 15%;
  width: 960px;
  height: 70vh;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}
.downloadcard_container::before {
  content: "";
  position: absolute;
  left: 34%;
  width: 82px;
  height: 67px;
  background: linear-gradient(
    30deg,
    #009726a9 16%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 50%;
  top: -30px;
}
.downloadcard_container::after {
  content: "";
  position: absolute;
  left: 62%;
  transform: translateX(-50%);
  width: 82px;
  height: 67px;
  background-color: #25a17d;
  border-radius: 50%;
  background: linear-gradient(
    30deg,
    rgba(12, 156, 233, 0.808) 6%,
    rgba(201, 232, 223, 1) 100%
  );
  bottom: -31px;
  transform: translateX(-50%) rotate(180deg);
}
.downloads_cardleftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  border-right: 1px solid rgba(128, 128, 128, 0.226);
}
.downloads_textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 12px;
}

.downloads_downloadtext {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 5px;
}

.downloads_content {
  color: gray;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0px 24px;
}
.downloads_downloadimg {
  width: 85%;
}
.exedownload_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #25a17d;
  border-color: #25a17d;
  border-radius: 6px;
  box-shadow: 0 2px 0 #5805ff0f;
  color: #fff;
  display: flex;
  font-weight: 600;
  margin-top: 27px;
  margin-bottom: 29px;
}
.exedownload_button:hover {
  background-color: rgba(20, 184, 165, 0.247) !important;
  border-color: #009737 !important;
  background-color: #009737 !important;
  color: #fff !important;
}
.exedownload_button:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
.downloads_rightCurve {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 200px;
  background: linear-gradient(
    30deg,
    rgba(12, 156, 233, 0.808) 16%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 120px 0 0 120px;
}

/* portal page styles */
.portal_card {
  border: 1px solid rgba(26, 26, 26, 0.1);
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
  background-color: #ffffff;
  border-radius: 8px;
  width: 42%;
  padding: 35px 50px;
  margin: 40px 0px 60px 0px;
}
.portal_inputfielddiv {
  transform: translateX(0%);
  opacity: 1;
  width: 100%;
  margin-top: 16px;
  transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
.portal_inputfield {
  height: 36px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  margin-top: 6px;
}
.portal_inputfield:hover {
  border-color: #25a17d !important;
}
.portal_inputfield:focus-within {
  border-color: #25a17d !important;
  box-shadow: 0 0 0 2px #25a17e17;
}

.portal_errorinputfield {
  height: 36px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #ff4d4f;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  margin-top: 6px;
}
.portal_errorinputfield:hover {
  border-color: #ff4d4f !important;
}
.portal_errorinputfield:focus-within {
  border-color: #ff4d4f !important;
  box-shadow: 0 0 0 2px rgba(255, 38, 5, 0.144);
}

.portal_emailerror_hide {
  color: rgb(255, 77, 79);
  margin-top: 4px;
  font-size: 15px;
  position: absolute;
  transform: translateX(-52px);
  opacity: 0;
  transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
.portal_emailerror_visible {
  color: rgb(255, 77, 79);
  margin-top: 4px;
  font-size: 14px;
  position: absolute;
  transform: translateX(4px);
  transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
}
@media (min-width: 300px) and (max-width: 420px) {
  .portal_emailerror_visible {
    font-size: 12px;
  }
}

.portal_emailcheckicon_hide {
  position: absolute;
  top: 34%;
  opacity: 0;
  right: -22px;
  transform: translateX(-50%);
  transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.portal_emailcheckicon_visible {
  position: absolute;
  top: 34%;
  opacity: 1;
  right: 20px;
  transform: translateX(0%);
  transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.portal_xicon_hide {
  position: absolute;
  top: 34%;
  opacity: 0;
  right: -22px;
  transform: translateX(-50%);
  transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.portal_xicon_visible {
  position: absolute;
  top: 34%;
  opacity: 1;
  right: 20px;
  transform: translateX(0%);
  transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
.portal_submitbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  width: 100%;
  font-weight: 600;
  border-radius: 6px;
  padding: 7px 0px;
  display: flex;
  justify-content: center;
  margin-top: 36px;
}
.portal_submitbutton:hover {
  background-color: #009737;
}
.portal_submitbutton:active {
  transform: translateY(2px);
}
@media (min-width: 300px) and (max-width: 374px) {
  .portal_submitbutton {
    margin-top: 52px;
  }
}
.portal_loadingsubmitbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  width: 100%;
  font-weight: 600;
  border-radius: 6px;
  padding: 7px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  opacity: 0.7;
  cursor: default;
}
