.forgotpassword_maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #fbfcfd;
  min-height: 100vh;
  flex-direction: column;
}
.emailvalidate_card {
  border: 1px solid rgba(26, 26, 26, 0.1);
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
  background-color: #ffffff;
  border-radius: 8px;
  width: 45%;
  padding: 35px 50px;
  margin: 40px 0px 60px 0px;
}
.forgotpassword_emailtext {
  font-weight: 600;
  text-align: center;
  font-size: 22px;
}
.forgotpassword_inputContainer {
  position: relative;
}
.forgotpassword_checkicon_hide {
  position: absolute;
  top: 49%;
  opacity: 0;
  right: -22px;
  transform: translateX(-50%);
  transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.forgotpassword_checkicon_visible {
  position: absolute;
  top: 49%;
  opacity: 1;
  right: 20px;
  transform: translateX(0%);
  transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.forgotpassword_xicon_hide {
  position: absolute;
  top: 49%;
  opacity: 0;
  right: -22px;
  transform: translateX(-50%);
  transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.forgotpassword_xicon_visible {
  position: absolute;
  top: 49%;
  opacity: 1;
  right: 20px;
  transform: translateX(0%);
  transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.forgotpassword_inputfield {
  height: 36px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  margin-top: 19px;
}
.forgotpassword_inputfield:hover {
  border-color: #25a17d !important;
}
.forgotpassword_inputfield:focus-within {
  border-color: #25a17d !important;
  box-shadow: 0 0 0 2px #25a17e17;
}

.forgotpassword_errorinputfield {
  height: 36px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #ff4d4f;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  margin-top: 19px;
}
.forgotpassword_errorinputfield:hover {
  border-color: #ff4d4f !important;
}
.forgotpassword_errorinputfield:focus-within {
  border-color: #ff4d4f !important;
  box-shadow: 0 0 0 2px rgba(255, 38, 5, 0.144);
}

.forgotpassword_emailerror_hide {
  color: rgb(255, 77, 79);
  margin-top: 4px;
  font-size: 15px;
  position: absolute;
  transform: translateX(-52px);
  opacity: 0;
  transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
.forgotpassword_emailerror_visible {
  color: rgb(255, 77, 79);
  margin-top: 4px;
  font-size: 15px;
  position: absolute;
  transform: translateX(4px);
  transition: right 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
}
.forgotpassword_submitbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  width: 100%;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 14px;
  padding: 7px 0px;
  display: flex;
  justify-content: center;
  margin-top: 36px;
}
.forgotpassword_submitbutton:hover {
  background-color: #009737;
}
.forgotpassword_submitbutton:active {
  transform: translateY(2px);
}
