.settings_mainContainer {
  padding: 19px 26px;
}
.settings_headingContainer {
  display: flex;
  align-items: center;
}
.settings_iconContainer {
  padding: 6px;
  border-radius: 8px;
  color: rgb(20, 184, 166);
  background-color: rgba(20, 184, 166, 0.1);
}
.allpage_mainheadings {
  font-size: 22px;
  margin-left: 1rem;
  font-weight: 700;
}
@media (min-width: 300px) and (max-width: 700px) {
  .allpage_mainheadings {
    font-size: 16px !important;
  }
}
.settings_activelistContainer {
  align-items: center;
  background: #25a17d;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  height: 38px;
  padding: 0px 10px;
  margin-bottom: 15px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media (min-width: 375px) and (max-width: 799px) {
  .settings_activelistContainer {
    font-size: 12px !important;
  }
}
@media (min-width: 300px) and (max-width: 374px) {
  .settings_activelistContainer {
    font-size: 10px !important;
  }
}
.settings_inactivelistContainer {
  align-items: center;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  height: 40px;
  padding: 6px 10px;
  margin-bottom: 15px;
  cursor: pointer;
}
@media (min-width: 375px) and (max-width: 799px) {
  .settings_inactivelistContainer {
    font-size: 14px !important;
  }
}
@media (min-width: 300px) and (max-width: 374px) {
  .settings_inactivelistContainer {
    font-size: 12px !important;
  }
}
.settings_inactivelistContainer:hover .settings_inactivelisttext {
  color: #25a17d;
}
.settings_disabledlistContainer {
  align-items: center;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  height: 40px;
  padding: 6px 10px;
  margin-bottom: 15px;
  cursor: default;
  color: #808080a6;
}
.settinglist_icons {
  width: 24px !important;
}
.settings_rowcontainer {
  margin: 20px 0px;
  border: 0 !important;
  border-radius: 12px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 1;
}
.settinglist_columnOneContainer {
  padding: 16px 16px;
  border-right: 1px solid #d1d1d1;
}
.settinglist_columnContainer {
  padding: 16px 16px;
}
.users_totoalusersheading {
  font-weight: 600;
  font-size: 16px;
  color: #25a17d;
}
.users_adduserbuttonContainer {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 300px) and (max-width: 767px) {
  .users_adduserbuttonContainer {
    justify-content: flex-start;
  }
}
.users_addbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  width: 110px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.users_addbutton:hover {
  background-color: #009737;
}
.users_addbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
.users_passwordinputfield {
  height: 32px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  margin-top: 5px;
}
.users_passwordinputfield:hover {
  border-color: #25a17d !important;
}
.users_passwordinputfield:focus-within {
  border-color: #25a17d !important;
  box-shadow: 0 0 0 2px #25a17e17;
}
.users_passwordinputfielderror {
  height: 32px;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  width: 100%;
  margin-top: 5px;
}
.users_passwordinputfielderror:hover {
  border-color: #ffa39e !important;
}
.users_submitbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  width: 120px;
  border-radius: 6px;
}
.users_submitbutton:hover {
  background-color: #009737;
}
.users_submitbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
.usertable_actionbutton {
  padding: 6px 9px;
  border-radius: 6px;
  color: #25a17d;
}
.usertable_actionbutton:hover {
  border: 1px solid rgb(226 223 239/ 1) !important;
}
.users_tableeditbutton {
  cursor: pointer;
  color: #25a17d;
  transition: all 0.3s ease-in;
  margin-right: 6px;
}
.users_tabledeletebutton {
  cursor: pointer;
  color: #ff4d4f;
  margin-right: 6px;
  transition: all 0.3s ease-in;
}
/* designation styles */
.designion_adduserbuttonContainer {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 300px) and (max-width: 768px) {
  .designion_adduserbuttonContainer {
    justify-content: flex-start;
  }
}
.designationbutton_addicon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
@media (min-width: 300px) and (max-width: 800px) {
  .designationbutton_addicon {
    width: 16px;
    height: 16px;
  }
}
.designation_addbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 13px;
  font-weight: 600;
}
@media (min-width: 375px) and (max-width: 800px) {
  .designation_addbutton {
    padding: 0px 9px;
  }
}
@media (min-width: 300px) and (max-width: 374px) {
  .designation_addbutton {
    width: 100%;
    font-size: 10px;
  }
}
.designation_addbutton:hover {
  background-color: #009737;
}
.designation_addbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
.designation_submitbutton {
  color: #fff;
  background-color: #25a17d;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 32px;
  width: 90px;
  border-radius: 6px;
  margin-top: 10px;
}
.designation_submitbutton:hover {
  background-color: #009737;
}
.designation_submitbutton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(85, 226, 108, 0.507);
}
/* teams */
.totalcreatedteam_text {
  font-weight: 600;
  font-size: 17px;
  color: #25a17d;
}
@media (min-width: 300px) and (max-width: 767px) {
  .totalcreatedteam_text {
    margin-bottom: 15px;
  }
}
.teammember_card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 14px;
  padding: 12px;
  border-radius: 7px;
  width: 100%;
  height: 150px;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.teammember_name {
  font-weight: 600;
  overflow: hidden;
  word-break: break-all;
}
.teammember_email {
  color: gray;
  font-size: 12px;
  overflow: hidden;
  word-break: break-all;
}
.teammembers_count {
  margin-top: 10px;
  font-weight: 600;
}
.teammember_changeteamrow {
  position: absolute;
  bottom: 12px;
}
.teammembercard_buttons {
  width: 104px !important;
  font-size: 12px !important;
  padding: 0px !important;
  overflow: hidden !important;
  word-break: break-all !important;
}
.teammembercard_buttons:hover {
  color: #009737 !important;
  border-color: #009737 !important;
}
.teammembercard_buttons:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 12px 1px rgba(85, 226, 108, 0.507);
}
.teammember_nodata {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
.teams_actionbutton {
  padding: 7px 7px;
  border-radius: 6px;
  color: #25a17d;
  border: 1px solid #25a17d !important;
}
.teams_actionbutton:hover {
  border: 1px solid rgb(226 223 239/ 1) !important;
}
/* break styles */
.breakstatus_container {
  border-radius: 9px;
  background-color: #25a17d;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0px;
  width: 60px;
}
.maxtime_inputfield {
  border-color: #d9d9d9 !important;
  border-radius: 6px !important;
  transition: all 0.2s !important;
}
/* goals styles */
.golas_mainContainer {
  margin-top: 30px;
}
.goals_savebutton {
  margin-top: 20px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .goals_hoursfieldColumn {
    margin-top: 10px;
  }
}
/* compliance styles */
.compliance_switchNames {
  font-weight: 500;
  font-size: 16px;
  margin-left: 12px;
}
@media (min-width: 376px) and (max-width: 768px) {
  .compliance_switchNames {
    font-size: 12px;
  }
}
@media (min-width: 300px) and (max-width: 375px) {
  .compliance_switchNames {
    font-size: 10px;
  }
}
.compliance_switchContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0px 12px;
}
/* alertrules styles */
.alertrules_tableeditbutton {
  cursor: pointer;
  color: #25a17d;
  transition: all 0.3s ease-in;
}
.alertrules_tableeditbutton:hover {
  transform: scale(1.2);
}
.alertrules_tabledeletebutton {
  cursor: pointer;
  color: #ff4d4f;
  margin-left: 20px;
  transition: all 0.3s ease-in;
}
.alertrules_tabledeletebutton:hover {
  transform: scale(1.2);
}
.teammembers_out {
  margin-top: 10px;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
}
.addmodaltitle {
  font-weight: 500;
}
/* productivity rules styles */
.productivityrules_categoryContainer {
  border-left: 1px solid #00000026;
  border-right: 1px solid #00000026;
  border-radius: 12px;
  padding: 0px 9px;
  height: 100vh;
  overflow: auto;
  position: relative;
}
.category_nameContainer {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .category_productivebuttonContainer {
    margin-top: 6px;
  }
}
.category_productivebutton {
  padding: 3px 0px;
  border: 1px solid #00000026;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
}
.category_productivebutton:active {
  transform: scale(0.9);
}
.category_productivebuttontext {
  text-overflow: ellipsis;
  overflow: hidden;
}
.category_activeproductivebutton {
  padding: 3px 0px;
  border: 1px solid #25a17d;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  background-color: #25a17d;
  color: white;
  font-weight: 600;
  cursor: default;
}
.category_neutralproductivebutton {
  padding: 3px 0px;
  border: 1px solid #959898;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  background-color: #8a8c8c;
  color: white;
  font-weight: 600;
  cursor: default;
}
.category_unproductivebutton {
  padding: 3px 0px;
  border: 1px solid rgba(244, 67, 54, 0.85);
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  background-color: rgba(244, 67, 54, 0.85);
  color: white;
  font-weight: 600;
  cursor: default;
}
.settingsproductivity_spinContainer {
  position: absolute;
  top: 40%;
  left: 50%;
}
/* mapping styles */
.mapping_headerselectfieldsColumnContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
@media (min-width: 300px) and (max-width: 768px) {
  .mapping_headerselectfieldsColumnContainer {
    justify-content: flex-start;
  }
}
.mapping_headerselectfieldsContainer {
  display: flex;
}
@media (min-width: 320px) and (max-width: 767px) {
  .mapping_headerselectfieldsContainer {
    flex-direction: column;
  }
}
.mapping_tableheading {
  font-weight: 600;
  margin-bottom: 9px;
  font-size: 16px;
}
